
.TodoList {
    background-color: grey;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    align-content: center;
    width: 90vw;
    padding: 10px;
    line-height: 25px;
}
